* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hexCode {
  padding: 4px;
  font-size: 20px;
}
.RGBCode {
  padding: 4px;
  font-size: 20px;
}
.color {
  padding: 4px;
  font-size: 20px;
}
